
<nav class="navbar navbar-expand-sm navbar-dark bg-dark mt-1 mx-0 px-0 fixed-bottom">
      <div class="container mx-0">
            <ul class="text-white">
                <li class="nav-item mr-2 d-inline">
                    © 2017 RNessentials
                </li>
                <li class="nav-item mr-2 d-inline">
                    <a href="https://www.facebook.com/RNessentials-905551306269088/"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                </li>
                <li class="nav-item mr-2 d-inline">
                    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </li>
            </ul>
        </div>
  </nav>
