<nav class="navbar fixed-bottom navbar-dark bg-dark">
      <ul class="navbar-nav my-auto">
        <li class="nav-item active">
          <p class="nav-link"><small>RNessentials 2017</small> <span class="sr-only">(current)</span></p>
        </li>
      </ul>
</nav>
