<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
  <a class="navbar-brand" href="#">RNessentials</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Profile <span class="sr-only">(current)</span></a>
      </li>
      {{#if user}}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Menu
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/cert">Certs/Liscense</a>
          <a class="dropdown-item" href="/cert/add">Add</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      {{/if}}
    </ul>
  </div>
  {{#if user}}
  <ul class="navbar-nav">
    <li class="nav-item active">
      <p class="navbar-text my-auto"><strong>{{user.firstName}}</strong>, you are logged in.</p>
    </li>
    <li class="nav-item active">
      <a class="nav-link float-right" href="/auth/logout">Logout</a>
    </li>
  </ul>
  {{else}}
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link float-right" href="/auth/login">Login</a>
    </li>
  </ul>

  {{/if}}

</nav>
