
{{#section 'head'}}
    <!-- stuff that goes in head...example: -->
    <title>RNessentials</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/welcome.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
{{/section}}
    <body>

<div class="container">

</div>

<div id="landing-header">
  <h1>RNessentials coming soon!</h1>
  <div class="container">
    <div class="col-12">
      <div class="row justify-content-md-center">
        <div class="col-6">
          <a href="/auth/login" class="btn btn-dark btn-block">Login</a>
        </div>
      </div>
      <div class="row justify-content-md-center">
        <div class="col-6 mt-1">
          <a href="/auth/register" class="btn btn-dark btn-block">Register</a>
        </div>
      </div>
    </div>

  </div>
</div>


    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
