
{{#section 'head'}}
    <!-- stuff that goes in head...example: -->
    {{> _w-header}}
{{/section}}
    <body>

<div class="container">

</div>

<div id="landing-header">
  <h1>RNessentials coming soon!</h1>
  <div class="container">
    <div class="col-12">
      <div class="row justify-content-md-center">
        <div class="col-6">
          <a href="/auth/login" class="btn btn-dark btn-block">Login</a>
        </div>
      </div>
      <div class="row justify-content-md-center">
        <div class="col-6 mt-1">
          <a href="/auth/register" class="btn btn-dark btn-block"><p>Register</p></a>
        </div>
      </div>
    </div>

  </div>
</div>


    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
