
{{#section 'head'}}
    <!-- stuff that goes in head...example: -->
    <title>RNessentials</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/welcome.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
{{/section}}
    <body>

<div class="container">

</div>

    <div id="landing-header">
 		<h1>RNessentials coming soon!</h1>
		<a href="/users/login" class="btn btn-lg btn-success">Get Started</a>
    </div>

    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
