<div class="container my-sm-3">
  <div class="row justify-content-center">
    <div class="col-sm-10">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">About</h4>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Gravida dictum fusce ut placerat orci nulla pellentesque. Mi eget mauris pharetra et ultrices neque. Tortor condimentum lacinia quis vel eros donec. Ut sem nulla pharetra diam sit amet nisl suscipit. Lacus viverra vitae congue eu consequat ac felis donec. In dictum non consectetur a erat nam at. Amet nisl purus in mollis nunc sed id semper risus. Sagittis eu volutpat odio facilisis mauris sit amet massa. Justo nec ultrices dui sapien. Eget mauris pharetra et ultrices neque. Dui accumsan sit amet nulla facilisi morbi tempus iaculis. Eget aliquet nibh praesent tristique magna sit amet purus gravida. Id diam maecenas ultricies mi eget. Tellus rutrum tellus pellentesque eu tincidunt tortor aliquam nulla facilisi. Elit pellentesque habitant morbi tristique senectus. Fringilla phasellus faucibus scelerisque eleifend donec pretium vulputate. Est ullamcorper eget nulla facilisi etiam dignissim diam.
          </p>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Gravida dictum fusce ut placerat orci nulla pellentesque. Mi eget mauris pharetra et ultrices neque. Tortor condimentum lacinia quis vel eros donec. Ut sem nulla pharetra diam sit amet nisl suscipit. Lacus viverra vitae congue eu consequat ac felis donec. In dictum non consectetur a erat nam at. Amet nisl purus in mollis nunc sed id semper risus. Sagittis eu volutpat odio facilisis mauris sit amet massa. Justo nec ultrices dui sapien. Eget mauris pharetra et ultrices neque. Dui accumsan sit amet nulla facilisi morbi tempus iaculis. Eget aliquet nibh praesent tristique magna sit amet purus gravida. Id diam maecenas ultricies mi eget. Tellus rutrum tellus pellentesque eu tincidunt tortor aliquam nulla facilisi. Elit pellentesque habitant morbi tristique senectus. Fringilla phasellus faucibus scelerisque eleifend donec pretium vulputate. Est ullamcorper eget nulla facilisi etiam dignissim diam.
          </p>
        </div>
      </div>
      <a href="/cert" class="btn btn-dark btn-block mt-1">Home</a>
    </div>
  </div>
</div>
